<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>orderServlet</servlet-name>
        <servlet-class>servlet.orderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>assignStaffServlet</servlet-name>
        <servlet-class>servlet.assignStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePayment</servlet-name>
        <servlet-class>servlet.updatePayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePaymentServlet</servlet-name>
        <servlet-class>servlet.updatePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addOrderServlet</servlet-name>
        <servlet-class>servlet.addOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentServlet</servlet-name>
        <servlet-class>servlet.paymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerDeviceServlet</servlet-name>
        <servlet-class>servlet.registerDeviceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustRegServlet</servlet-name>
        <servlet-class>servlet.CustRegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRegServlet</servlet-name>
        <servlet-class>servlet.StaffRegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLoginServlet</servlet-name>
        <servlet-class>servlet.StaffLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustLoginServlet</servlet-name>
        <servlet-class>servlet.CustLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustlogoutServlet</servlet-name>
        <servlet-class>servlet.CustlogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLogoutServlet</servlet-name>
        <servlet-class>servlet.StaffLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addOrderServlets</servlet-name>
        <servlet-class>servlet.addOrderServlets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderServlet</servlet-name>
        <url-pattern>/orderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assignStaffServlet</servlet-name>
        <url-pattern>/assignStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePayment</servlet-name>
        <url-pattern>/updatePayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePaymentServlet</servlet-name>
        <url-pattern>/updatePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentServlet</servlet-name>
        <url-pattern>/paymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerDeviceServlet</servlet-name>
        <url-pattern>/registerDeviceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustRegServlet</servlet-name>
        <url-pattern>/CustRegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffRegServlet</servlet-name>
        <url-pattern>/StaffRegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLoginServlet</servlet-name>
        <url-pattern>/StaffLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustLoginServlet</servlet-name>
        <url-pattern>/CustLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustlogoutServlet</servlet-name>
        <url-pattern>/CustlogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLogoutServlet</servlet-name>
        <url-pattern>/StaffLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addOrderServlets</servlet-name>
        <url-pattern>/addOrderServlets</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/myDatasource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
